# Analyse World Youth Unemployment

We need to analyse the dataset https://data.worldbank.org/indicator/SL.UEM.1524.ZS

In [1]:
import sys
import glob
import os
import pandas as pd
path = sys.path[0]+'/Dataset/'
# read all CSV files in folder using glob 
csv_files = glob.glob(os.path.join(path, "*.csv"))

Read csv file, The first 4 rows is unneccessary, so skip the first 4 rows

In [ ]:
# the file name start API...

Check how many countries?

Check columns name and how many years?

In [ ]:
# Check columns name

In [ ]:
# How many years?

Selecting the subset of data from the given dataset. 

Select only data from the last 5 years.

check missing value

dropping null values

In [ ]:
# Check missing value again

The above code still have null value? we need to drop if any columns has null value

check the type of data

sorting

In [ ]:
# sorting by country name

In [ ]:
# show data

Setting the index

set the `Country Code` column as an index

Check info of the descriptive statistic of the data in all 10 years

Convert pandas array to numpy array

Check the descriptive statistic of year 2012

and plot box plot year 2012

```
# Import libraries
import matplotlib.pyplot as plt
import numpy as np
 
 
# Creating dataset

data = data1['2012'].to_numpy()
 
fig = plt.figure(figsize =(10, 7))
 
# Creating plot
plt.boxplot(data)
 
# show plot
plt.show()
```

Add new column as average of 10 years in each rows and set the name as `data["10years_avg"]`

Plotting the 10years_avg unemployment data using bar graph where x axis is countries and y axis is 10 years avg of unemployment rate

```
fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(120,40))

plt.bar(countries, avg10y, color ='maroon')

# ax.bar(countries, avg10y, align = 'edge')

# plt.xlabel('countries',fontsize = 60)
# plt.ylabel('10 years avg unemployment rate',fontsize = 60)
plt.xlabel('countries')
plt.ylabel('10 years avg unemployment rate')
plt.xticks(rotation = 70, fontsize = 20)
plt.yticks(rotation = 'vertical', fontsize = 20)
plt.title("Unemployment average of the last 10 year (2012-2022)")

plt.show()

```

#### Perform the data analysis and plotting summary of them

- list all countries where unemployment is greater than or equal to 25% in 2022

- list all countries where unemployment is less than or equal to 1% in 2022

- list top 10 countries that have an average high rate of unemployment from 2012-2022

- plot top 10 countries that have an average high rate of unemployment from 2012-2022 using bar graph


- list top 10 countries that have an average high rate of unemployment from 2012-2022

- plot top 10 countries that have an average low rate of unemployment from 2012-2022 using bar graph

#### Now we want to see the unemployment rate in Covid

So we add another column to see the different 2019 and 2020

- Add new column `data['covid_year_dif']`


`data1['covid_year_dif'] = data1['2020'] - data1['2019']`


- list top 10 countries that have an high covid impact of unemployment


- Plot top 10 countries that have an high covid impact of unemployment


- list top 10 countries that have an less covid impact of unemployment


- Plot top 10 countries that have an less covid impact of unemployment

# Extra Score (Optional)

Analyse data Poverty headcount: https://data.worldbank.org/indicator/SI.POV.DDAY?locations=1W&start=1984&view=chart

What can you check and summary this data?